<!DOCTYPE html>
<html lang="en">
<head>

  <% include styles.ejs %>

  <title> <%= title %> </title>
  <style type="text/css">
    body {
      padding: 50px;
      font: 13px Helvetica, Arial, sans-serif;
    }
  </style>
  <!-- build:css styles/app.css -->
  <link rel="stylesheet" href="stylesheets/app.css" />
  <!-- endbuild -->
</head>
<header>
  <div class="row logo">
    <span class="logo-text">Y! Travel </span>
  </div>
</header>
	<div id="start">
		Description: <%= description %>
		Author: <%= author %>
	</div>

<% include scripts.ejs %>

</body>
<html>
