<!DOCTYPE html>
<html>
  <head>
    <title>Raaste</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">       
      var origin = new google.maps.LatLng(19.0144100,72.8479400); // mum 
      var destination = new google.maps.LatLng(17.3752800,78.4744400) // hyd
      var JUMPS = 30000;
      var locator = {};
      var tPoint;
      var MAPIKEY = 'AIzaSyDH7xBmQWvchh9Pe0QHT7-RIljFnZ2jSsA';
      locator.getLocality = function(loc) 
      {
        var result;
        var locality;        
        var url = 'http://maps.googleapis.com/maps/api/geocode/json?key=' + MAPIKEY + '&latlng=' + loc.jb.toString() + ',' + loc.kb.toString() + '&sensor=false'
        $.getJSON(url,
          function (data) {
            console.log(data);
            if (data.status == "OK") {
                result = data;
                locality = result['results'][0].formatted_address;
            }
          });
      }
           
      locator.findPointsBetween = function(slocation,elocation){
        var heading = google.maps.geometry.spherical.computeHeading(slocation, elocation);
        var computed_distance = google.maps.geometry.spherical.computeDistanceBetween(slocation, elocation);   
        var iterations = Math.round(computed_distance/JUMPS);
        var distance_to_move_each_time = computed_distance/iterations;
        var points = [];
        for(var i=0;i<iterations;i++){         
          slocation = google.maps.geometry.spherical.computeOffset(slocation,distance_to_move_each_time,heading);
          points[i] = google.maps.geometry.spherical.computeOffset(slocation,distance_to_move_each_time,heading); 
          //locator.getLocality(points[i]);
        }        
        return points;
      }
      points = locator.findPointsBetween(origin,destination);
      console.log(points); 
      locator.getLocality(points[0]);
     
      
      
    </script>
  </head>
  <body>
    <div>TODO write content</div>
  </body>
</html>

