<!DOCTYPE html>
<html lang="en">
<head>

  <% include styles.ejs %>

  <title> <%= title %> </title>
  <style type="text/css">
    body {
      padding: 50px;
      font: 13px Helvetica, Arial, sans-serif;
    }
  </style>
  <!-- build:css styles/app.css -->
  <link rel="stylesheet" href="stylesheets/app.css" />
  <!-- endbuild -->
</head>
<body>
<header>
  <div class="row logo">
    <span class="logo-text">Y! Travel </span>
  </div>
</header>

	<div id="start">
		Description: <%= description %>
		Author: <%= author %>
	</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script type="text/javascript" src="javascripts/google_maps.js"></script>
<script type="text/javascript" src="javascripts/foursquare.js"></script>
<script type="text/javascript" src="javascripts/yahoo_flickr.js"></script>
<script type="text/javascript" src="javascripts/yahoo_weather.js"></script>
<script type="text/javascript" src="javascripts/API_handler.js"></script>
<script>
travel_handler.getDetails();

</script>
</body>
</html>
