<!DOCTYPE html>
<html lang="en">
<head>

  <% include styles.ejs %>

  <title> <%= title %> </title>
  <style type="text/css">
    body {
      font: 13px Helvetica, Arial, sans-serif;
    }
  </style>
  <!-- build:css styles/app.css -->
  <link rel="stylesheet" href="stylesheets/app.css" />
  <!-- endbuild -->
</head>
<body>
<nav class="top-bar">
<ul class="title-area">
  <!-- Title Area -->
  <li class="name">
    <h1><a href="#">yTrave!</a></h1>
  </li>
  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>
</nav>

<form>
  <div class="row collapse">
    <div class="small-9 large-10 columns centered">
      <input type="text" placeholder="Origin" name="origin"/>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 large-10 columns centered">
      <input type="text" placeholder="Destination" name="desitation"/>
    </div>
  </div>
  <div class="row">
    <a href="#" class="button">Go!</a>
  </div>
</form>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script type="text/javascript" src="javascripts/google_maps.js"></script>
<script type="text/javascript" src="javascripts/foursquare.js"></script>
<script type="text/javascript" src="javascripts/yahoo_flickr.js"></script>
<script type="text/javascript" src="javascripts/yahoo_weather.js"></script>
<script type="text/javascript" src="javascripts/API_handler.js"></script>
<script>
travel_handler.getDetails();

</script>
</body>

</html>
