<!DOCTYPE html>
<html lang="en">
<head>

  <% include styles.ejs %>

  <title> <%= title %> </title>
  <style type="text/css">
    body {
      font: 13px Helvetica, Arial, sans-serif;
    }
  </style>
  <!-- build:css styles/app.css -->
  <link rel="stylesheet" href="stylesheets/app.css" />
  <!-- endbuild -->
</head>
<body>
<nav class="top-bar">
<ul class="title-area">
  <!-- Title Area -->
  <li class="name">
    <h1><a href="#">yTrave!</a></h1>
  </li>
  <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
</ul>
</nav>

<form>
  <div class="row collapse">
    <div class="small-9 large-10 columns centered">
      <input type="text" placeholder="Origin" name="origin" value="Hyderabad"/>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-9 large-10 columns centered">
      <input type="text" placeholder="Destination" name="destination" value="Mumbai"/>
    </div>
  </div>
  <div class="row">
    <a href="#" class="button" id="plot">Go!</a>
  </div>
</form>
<div id="map" style="width: 70%; height: 400px;margin:0 auto"></div>

<div id="picrow" class="row">
  
</div>

<script type="text/javascript" src="javascripts/jquery.js"></script>
<script type="text/javascript" src="javascripts/foundation/foundation.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false"></script>
<script type="text/javascript" src="javascripts/google_maps.js"></script>
<script type="text/javascript" src="javascripts/foursquare.js"></script>
<script type="text/javascript" src="javascripts/yahoo_flickr.js"></script>
<script type="text/javascript" src="javascripts/yahoo_weather.js"></script>
<script type="text/javascript" src="javascripts/API_handler.js"></script>
<script type="text/javascript" src="javascripts/jquery.scrollIntoView.js"></script>
<script>
  
    $(document).ready(function(){  
    
      $('#plot').on('click',function(e){
        var origin_point = new google.maps.LatLng(19.0144100,72.8479400);
        var data = $(this).closest('form').serialize();          
        var locations =  GoogleMaps.search(data);   
        var sArray = $(this).closest('form').serializeArray();
        if(sArray.length > 0){
          var origin = sArray[0]['value'];        
          var mygc = new google.maps.Geocoder();
          mygc.geocode({'address' : origin}, function(results, status){
          origin_point = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());          
          plotMap(locations,origin_point);       
        });
        }
        else{
          origin_point = new google.maps.LatLng(19.0144100,72.8479400);
          plotMap(locations,origin_point);       
        }
      });
    });  

      function plotMap(locations,center){
        var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: center,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({        
          position: locations[i],
          map: map
        });

          google.maps.event.addListener(marker, 'click', function(marker, i) {
            Yahoo_flickr.showPhotos(marker.latLng);
        });
      }
    }        
</script>
</body>

</html>
