<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title> <%= title %> </title>
  <style type="text/css">
    body {
      padding: 50px;
      font: 13px Helvetica, Arial, sans-serif;
    }
  </style>
  <!-- build:css styles/app.css -->
  <link rel="stylesheet" href="styles/app.css" />
  <!-- endbuild -->
</head>
    <div id="start">
        Description: <%= description %>
        Author: <%= author %>
    </div>
<body>